$primary-color: #005ea2;
$primary-background-color: #FFFF;
$shadow-color: #AAAA;

* {
  padding: 0;
  margin: 0;
}


body {
  font-family: sans-serif;
  background-color: $primary-background-color;
}

table {
  margin: 8px;
  border-collapse: collapse;
}

tr {
  border: solid;
}

td {
  border: solid;
}

th {
  border: solid;
}

h2 {
  margin: 1.5rem 1.5rem 0.5rem;
}

p {
  margin: 0.5rem 1.5rem 0.5rem ;
}

.card-group {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin: auto;
  margin-bottom: 1.5rem;
  max-width: 60rem;


  .card {
    background-color: $primary-background-color;
    box-shadow: 2px 2px 5px 1.5px  $shadow-color;

    font-size: 1.06rem;

    margin:  0.5rem 0.5rem 1rem;
    border-radius: 1rem;
  }
}
