* {
  padding: 0;
  margin: 0;
}

table {
  margin: 8px;
  border-collapse: collapse;
}

tr {
  border: solid;
}

td {
  border: solid;
}

th {
  border: solid;
}

body {
  font-family: sans-serif;
}
